services:
  adminer:
    image: adminer
    restart: always
    ports:
      - "8081:8080"
    networks:
      - sail

  mysql:
    ports:
      - "3307:3306"

networks:
  sail:
    external: true
    name: pic_maneger_sail
